@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

@import "abstract/variables";
@import "abstract/mixins";

@import "base/resets";
@import "base/typography";

@import "components/btn";
@import "components/card";
@import "components/full-width-img";

@import "layout/body";
@import "layout/header";
@import "layout/footer";
@import "layout/services";
