// Override colores navbar Bootstrap
.navbar-light,
.navbar-brand,
.navbar-nav,
.nav-link {
	color: $black !important;
	transition: all 0.25s ease-in-out;

	&:hover,
	&:focus {
		color: $primary-dark !important;
		transition: all 0.25s ease-in-out;
	}
}

// Override color del navbar-toggler
.navbar-dark,
.navbar-toggler {
	color: rgba($black, 0.3);

	&:hover,
	&:focus {
		color: rgba($primary-medium, 0.3);
	}
}

.navbar-light,
.navbar {
	padding: 0;
}

.nav-link {
	font-size: $size4;
}

header {
    background-color: $white;
}

.header__img {
	max-width: 200px;
	height: auto;
}

.nav-link.active {
	font-weight: 700;
	color: $primary-dark !important;
	text-decoration-line: underline !important;
    position: relative;
}

// Agrega decoración a nav-link en desktop
@media (min-width: 992px){
    .nav-link.active::after {
        content: ".";
        position: absolute;
        bottom: -1rem;
        left: 50%;
        transform: translate(-50%, 0);
        font-size: $size1;
        min-width: fit-content;
    }
}