.services-title {
	position: relative;

	&:after {
		@include title-decoration;
		min-width: min-content;
		width: 55%;
		left: 10%;
	}
}

.services-title--short {
	position: relative;

	&:after {
		@include title-decoration;
		width: 40%;
		left: 10%;
	}
}

@media (min-width: 992px) {
	.services-title {
		&:after {
			width: 40%;
		}
	}

	.services-title--short {
		&:after {
			width: 22.5%;
			left: 5%;
		}
	}
}
