.services-title {
	position: relative;

	&:after {
		@include title-decoration;
		min-width: min-content;
		width: 55%;
		left: 10%;
	}
}

@media (min-width: 992px) {
	.services-title {
		&:after {
			width: 40%;
		}
	}
}
