.btn {
    padding: 0.75rem 1.5rem;
    background-color: $primary-medium;
    display: block;
    font-weight: 700;
    color: $primary-dark;
    border-radius: 0.5rem;
    @include transition();

    &:hover {
        @include shadow();
        @include transition();
        color: $white;
        background-color: $primary-dark;
    }
}

.btn--large {
    font-size: $size5;
}

.btn--small {
    font-size: $size5;
    max-width: 50%;
}

@media(min-width: 992px) {
    .btn--large {
        font-size: $size4;
    }
}
