// Override estilo cards Bootstrap
.card {
	border: none !important;
	border-radius: 0 !important;
}

.card-img,
.card-img-top {
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}

// Estilos cards
.card {
	border-radius: 0.5rem !important;
	@include transition();

	&:hover {
		@include shadow();
		@include transition();
	}
}

.card-body {
	// Hace que los btn queden siempre abajo sin importar
	// la cantidad de texto
	display: flex;
	flex-direction: column;

	.btn {
		margin-top: auto;
		align-self: center;
	}
}

.card__icon {
	height: 115px;
	width: 115px;
	padding-top: 1rem;
	margin: 0 auto;
}

.card-title {
	color: $primary-dark;
	font-weight: 700;
	text-align: center;
	font-size: $size4;
	position: relative;

	&:after {
		@include title-decoration;
		left: 50%;
		width: 40%;
		transform: translate(-50%, 0);
		min-width: fit-content;
	}
}

.card-text {
	font-size: $size5;
}
