*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: $white;
    font-family: $font-text;
	color: $black;
	font-size: $size4;
}

img {
    max-width: 100%;
    display: block;
}
