h1 {
    font-weight: 700;
    font-size: $size2;
    color: $primary-dark;
}

@media(min-width: 992px){
    h1 {
        font-size: $size1;
    }
}

li {
    list-style-position: inside;
}

p, 
ul {
    line-height: 1.8;
}