// Mixin para imágenes de fondo
@mixin background-image {
	max-width: 100%;
	object-fit: cover;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

// Mixin para sombras
@mixin shadow {
	box-shadow: 0px 0px 24px 12px rgba(16, 96, 133, 0.15);
}

// Mixin transition
@mixin transition {
	transition: all 0.2s ease-in-out;
}

// Mixin decoración títulos
@mixin title-decoration {
	content: "";
	position: absolute;
	border-bottom: 4px solid $primary-dark;
	bottom: -1rem;
	font-size: $size1;
}
