/* Colores */
$primary-light: #d3e5ef;
$primary-medium: #8dbdda;
$primary-dark: #106085;

$white: #ffffff;
$black: #000000;

/* Tipografía */
$font-text: "Noto Serif", serif;
$size1: 42px;
$size2: 36px;
$size3: 28px;
$size4: 24px;
$size5: 18px;