/* Colores */
$primary-light: #d3e5ef;
$primary-medium: #8dbdda;
$primary-dark: #106085;

$white: #ffffff;
$black: #000000;

/* Tipografía */
$font-text: "Noto Serif", serif;
$size1: 2.44rem;
$size2: 1.95rem;
$size3: 1.56rem;
$size4: 1.25rem;
$size5: 1rem;
$size6: 0.8rem;

$font-size-mobile: 16px;
$font-size-desktop: 18px;